$width-page-content: 1170px;
$width-service-block-content: 370px;
$carousel-indicator-width: 270px;
$accordion-button-padding-y: 24px;
$carousel-control-color: #C6CBCD;
$carousel-control-width: 2rem;

$width-page-content-tablet: 96%;
$min-width-tablet: 786px;
$max-width-tablet: 1199px;
$carousel-indicator-width-tablet: 23%;
$width-service-block-content-tablet: 30%;

$width-page-content-mobile: 96%;
$min-width-mobile: 320px;
$max-width-mobile: 785px;
$carousel-indicator-width-mobile: 23%;